

.input-wrapper input {
  display: none;
}
.input-wrapper label {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: solid 0.15em white;
  border-radius: 10em;
  background-color: transparent;
  cursor: pointer;
  transition-duration: .8s;
  margin: 0 0.6em;
}

.input-wrapper {
  text-align: center;
}
input:checked + label {
  background-color: white;
}
.slide-wrapper {
  margin-top: 30px;
}

.input-slide{
  position: absolute;
  cursor: pointer;
}

.images {
  display: none;
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
	/* transition: 3s; Скорость перехода состояния элемента */
	animation: show .9s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: .1s; /* Задержка перед началом */
}

/* input:checked ~ .images { 
} */

/* input:checked + label + .images {
  transform: translateX(0);
  opacity: 1;
} */

#select1:checked ~ div #slide1 {
  display: block;
  transition-duration: .8s;

}

#select2:checked ~ div #slide2 {
  display: block;
}

#select3:checked ~ div #slide3 {
  display: block;
}

@keyframes show{
  0%{ opacity:0; }
  100% { opacity:1; }
 }



/* 
.input-wrapper input {
  display: none;
}
.input-wrapper label {
  display: inline-block;
  width: 7px;
  height: 7px;
  border: solid 2px white;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition-duration: .8s;
  margin: 0 7px;
}

.input-wrapper {
  text-align: center;
}
input:checked + label {
  background-color: white;
}
.slide-wrapper {
  margin-top: 30px;
}

.input-slide{
  position: absolute;
  cursor: pointer;
}

.images {
  display: none;
}
input:checked ~ .images {
}

input:checked + label + .images {
  transform: translateX(0);
  opacity: 1;
}

#select1:checked ~ .slide-container, .slide {
  display: block;
}

#select2:checked ~ div #slide2 {
  display: block;
}

#select3:checked ~ div #slide3 {
  display: block;
}



.slide-container {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
}

.slide {
  scroll-snap-align: end;
  min-width: 100vw;
  height: 100vh;
  display: flex;
} */