*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;

}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  display: block;
}

body {
  color: #fdfbfb;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* max-width: 1440px; */
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  margin: 20px;
}

h2 {
  margin-top: 70px;
  margin-bottom: 40px;
}

h4 {
  padding-top: 35%;
  margin-bottom: 5px;
  font-size: 100%;
}

a {
  text-decoration: none;
  margin: 10px;
  color: #fdfbfb;
}

.base-desc {
  font-size: 17px;
  line-height: 150%;
}

/* header */
.nav {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
}
.nav-item {
  line-height: 55px;
  font-size: 18px;
  transition: all .2s ease-in-out;

}

.nav-element:hover {
  border-top: 3px solid white;
  padding-top: 10px;
  /* transition: all .05s ease-in-out; */
}


.header-wrapper {
  background-color: #d5412e;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.menu-wrapper {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5px;
}

.menu-left {
  display: flex;
  width: 30%;
}
 
.mask {
  width: 40px;
  height: 47px;
  background-color: rgb(253, 251, 251);
  cursor: pointer;
  margin-left: 10px;
  -webkit-mask-image: url("../images/logo-vert.svg");
  -webkit-mask-size: cover;
  transition: 1.5s;
}

.mask:hover {
  background-color: rgba(10, 10, 10, 0.726);
}


/* .logo {
  width: 3em;
  padding: 0.5em;
  transition: all .5s ease-in-out;
} */


.logo-title {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 7px 5px;
}
.mobile-gototop {
  display: none;
}

.menu-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding: 0% 5%; */
  /* height: 60px; */
}

.mobile-menu-wrap {
  display: none;
}

/* main */

.section-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px 10px 30px;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

/* SECTION INTRO MOOD CREATIONS */

.intro-wrapper {
  background-color: #db5e4e;
  background-image: url("../images/bg-red.jpg");
  background-size: cover;
  background-position: center;
}

.intro-mood {
  padding-top: 15%;
  padding-bottom: 10%;
}

div.soc-networks a {
  height: 100%;
  margin: 10px;
}

.soc-networks {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.fab {
  color: rgba(10, 10, 10, 0.726);
  transition: .5s ease-in-out;
  cursor: pointer;

}
.fab:hover {
  color: rgb(248, 217, 217);
  transition: .5s ease-in-out;

}

.fas {
  color: hsl(199, 77%, 66%);
  transition: .5s ease-in-out;
  cursor: pointer;

}
.fas:hover {
  color: hsl(184, 94%, 52%);
  transition: .5s ease-in-out;

}

/* .img-twitter {
  position: relative;
  width: 3%;
  padding-bottom: 3%;
  background-image: url(/mood_landing/images/twitter.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.img-fb {
  position: relative;
  width: 3%;
  padding-bottom: 3%;
  background-image: url(/mood_landing/images/fb.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.img-dribble {
  position: relative;
  width: 3%;
  padding-bottom: 3%;
  background-image: url(/mood_landing/images/dribbble.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.img-behance {
  position: relative;
  width: 3%;
  padding-bottom: 3%;
  background-image: url(/mood_landing/images/behance.svg);
  background-position: center center;
  background-repeat: no-repeat;
} */

/* SECTION SERVICES */

.services-wrapper {
  background-color: #d33523;
}

.column-1 {
  flex-grow: 1;
  flex-basis: 150px;
  margin: 15px;
  text-align: center;
  border: 1px #fdfbfb98 solid;
  border-radius: 8px;
  padding: 4%;
  min-width: 300px;
  max-width: 300px;
  /* justify-self: center; */
}

.column-1 .base-desc:last-child {
  /* text-align: left; */
  padding: 0px;
}


/* SECTION WORKS */

.works-wrapper {
  background-image: url("../images/bg-green.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button1:focus {
  outline: none;
}

.button1 {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0) solid 2px;
  text-align: center;
  padding: 5px;
  line-height: 11px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;

  
}

.button1:hover,
.button1:focus {
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 5px;
}
.slide-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 10px;

}
.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2vw;
}

.img_1 {
  background-image: url("../images/pic1.jpg");
}

.back {
  position: absolute;
  width: 100%;
  height: 0%;
  padding-bottom: 100%;
  background: rgba(44, 146, 90, 0.7);
  background-size: cover;
  background-position: center center;
  text-align: center;
  display: none;
}

.back h4 {
  padding-top: 30%;
}

.square {
  position: relative;
  width: 25%;
  padding-bottom: 25%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.square:hover .back {
  display: block;
}
.img_1 {
  background-image: url("../images/pic1.jpg");
}
.img_2 {
  background-image: url("../images/pic2.jpg");
}
.img_3 {
  background-image: url("../images/pic3.jpg");
}
.img_4 {
  background-image: url("../images/pic4.jpg");
}
.img_5 {
  background-image: url("../images/pic5.jpg");
}
.img_6 {
  background-image: url("../images/pic6.jpg");
}
.img_7 {
  background-image: url("../images/pic7.jpg");
}
.img_8 {
  background-image: url("../images/pic8.jpg");
}

/* SECTION PRICES */

.prices-wrapper {
  flex-direction: column;
  display: flex;
  background-color: #25a7ac;
  background-image: url("../images/bg-turg.png");
  background-size: cover;
  background-position: center;
}


.price-column-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.base-columns-container {
  width: 100%;
  background-color: #2a5759;
  cursor: pointer;
}

.columns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.column {
  position: relative;
  flex-flow: column wrap;
  align-content: center;
  text-align: center;
  width: 25%;
  min-width: 8rem;
  background-size: cover;
  background-position: center center;
  padding-top: 0px;
  padding-bottom: 15px;
}
.col-title {
  text-shadow: 1px 1px 3px #151b318f;
  border-bottom: rgba(255, 255, 255, 0.3) solid 1px;
  padding-bottom: 25px;
  padding-top: 5px;
  font-size: 17px;
  color: rgba(211, 252, 253, 0.7);
}
.col-title-white {
  color: #fdfbfb;
}

.col-title:hover {
  color: rgb(229, 253, 253);
}

.button2:hover {
  background-color: rgba(172, 239, 241, 0.384);
  border: rgba(255, 255, 255, 0.5) solid 2px;
}
.button2:active,
.button2:focus {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.column:hover {
  background-color: rgba(78, 207, 216, 0.1);
  transition: all .3s ease-in-out;

}

.fat-font {
  font-size: 28px;
}

.button2 {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 3% 10%;
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #151b318f;
  transition: all .2s ease-in-out;

}

.photo-gallery {
  padding-top: 20px;
}

/* SECTION CREW */

.crew-wrapper {
  background-color: #57aa68;
}

.section-wrapper p {
  padding: 0px 40px 0px 40px;
}

.photo-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  align-items: center;
  font-size: 2vw;
}

.photo {
  position: relative;
  width: 93%;
  padding-bottom: 120%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 7px;
  overflow: scroll;
}

.photo:hover .photo-back {
  display: block;
}

.photo-back {
  position: absolute;
  display: none;
  width: 100%;
  padding-bottom: 100%;
  background: rgba(44, 146, 90, 0.7);
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 0px;
}

div.photo-wrapper p,
h4 {
  padding: 0px;
}

div.photo-back h4,
p {
  padding: 5% 5%;
}

.img_Juris {
  background-image: url("../images/komanda-pict/komanda-01.jpg");
}
.img_Annija {
  background-image: url("../images/komanda-pict/komanda-02.jpg");
}

.img_Kristaps {
  background-image: url("../images/komanda-pict/komanda-03.jpg");
}

.img_Katija {
  background-image: url("../images/komanda-pict/komanda-04.jpg");
}

/* SECTION CONTACTS */

.contacts-wrapper {
  background-color: navy;
  background-image: url("../images/bg-blue.jpg");
  background-size: cover;
  background-position: center center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
  min-width: 15rem;
  margin-bottom: 5%;
}

input,
textarea {
  -webkit-writing-mode: horizontal-tb !important;
  background-color: rgba(38, 39, 100, 0.774);
  color: #ffffffa6;
  border: 0.4vw rgba(47, 61, 112, 0.741) solid;
  border-radius: 1vw;
  padding: 1.5vw;
  margin: 0.5vw 0vw;
  cursor: pointer;
}

.form-field {
  background-color: rgba(21, 28, 50, 0.007);
  border: 0.4vw#ffffffd5 solid;
  font: 1em sans-serif;
}

::placeholder {
  color: #ffffffa6;
  font: 1em sans-serif;
}

.active-field:hover {
  border: 0.4vw#ffffffd3 solid;
}

div.contacts-address span {
  color: #ffffffa6;
}

div.contacts-address a {
  color: #ffffffa6;
}
input[value="SŪTĪT ZĪŃU"]:hover {
  font-size: 1.01em;
  color: rgb(243, 242, 240);
}

/* FOOTER */

.footer-wrapper {
  background-color: #152357;
  height: 5%;
  padding-bottom: 5%;
  text-align: center;
  padding-top: 5%;
}

footer.span {
  font: 0.1vw sans-serif #ffffff31;
}

/* SCROLL-BUTTON */

.scroll-container {
  position: relative;
}
.scroll-container-2 {
  position: absolute;
  height: 100%;
  right: 5%;
}
.to_top_container {
  position: sticky;
  top: 82%;
  z-index: 5;
}
.to_top_container a {
  margin: 0;
}
.top_btn {
  background-color: rgba(10, 10, 10, 0.3);
  border-radius: 10px;
  padding: 20px 15px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin: -25px;
}

/* tablet */
@media only screen and (max-width: 1025px) {
  /* MENU */
  .menu-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-self: center;
  }

  .logo {
    margin-right: 1em;
  }

  .logo-title,
  .desktop-gototop {
    display: none;
  }

  .menu-right {
    /* padding-right: 7%; */
    height: 4em;
  }

  .menu-left {
    width: 2.6em;
    padding-left: ;
  }

  .mobile-gototop {
    display: block;
  }

  .nav-element {
    line-height: 1.2em;
  }

  /* INTRO */
  .section-wrapper p {
    padding: 0 0.3em;
  }

  /* CREW */
  .scroll-container-2 {
    right: 1rem;
  }

  .photo-wrapper {
    font-size: 1em;
  }
  .crew-name {
    font-size: 1.4em;
  }

  .photo-back {
    font-size: 1.1em;
  }

  div.photo-wrapper p {
    margin: 0;
  }

  .top_btn {
    border-radius: 10px 0 0 10px;
    padding: 8px 8px;
    font-size: 1rem;
    margin: -16px;
  }
}
/* mobile */
@media only screen and (max-width: 767px) {
  /* Header */
  .menu-right {
    display: none;
  }
  .mobile-toggle {
    display: block;

  }
  /* Intro */
  .column-1 {
    min-width: 200px;
  }
  .column-1 .base-desc:last-child {
    font-size: 14px;
  }

  /* Works gallery */
  .slide-wrapper {
    min-width: 250px;
  }
  .square {
    width: 35%;
    padding-bottom: 35%;
  }
 
}
/* mini mobile */
@media only screen and (max-width: 600px) {
    /* Works gallery */
  .button1 {
    padding: 10px;
    
  }
  .toggles {
    justify-content: center;
  }
  .slide-wrapper {
    min-width: 250px;
  }
  .square {
    width: 50%;
    padding-bottom: 50%;
  }
}